<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
      <a class="navbar-brand" href="#">Workforce</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="btn-primary">
              <button class="btn" routerLink="/employees">Employees</button>
          </li>&nbsp;
          <li class="nav-item" routerLinkActive="btn-primary">
              <button class="btn" routerLink="/add-employee">Add Employee</button>
          </li>
      </ul>
  </div>
  </div>
</nav>
